In [1]:
from bs4 import BeautifulSoup
import requests
import pickle
import pandas as pd
import matplotlib
import matplotlib.pylab as plt
import scipy as sp
%matplotlib inline
import math
import matplotlib.pyplot as plt
import numpy as np

class Company(object):
    def __init__(self, worldrec):
        self.worldrec = worldrec
        
with open('worldrecords_data.pkl', 'rb') as input:
    wrdatar = pickle.load(input)    

records = wrdatar.worldrec

In [2]:
records.head()

,Event,Year,Country,Lifter,Weight Class,Record,Event Code
0,Snatch,1917,Russia,Alexander BUKHAROV,60.0,75.0,1
1,Snatch,1918,Germany,Hermann SHWINDT,60.0,92.5,1
2,Clean and Jerk,1919,Germany,Johann RENNER,67.5,102.5,2
3,Clean and Jerk,1919,Germany,Josef ZIMMERMANN,67.5,107.5,2
4,Snatch,1919,Germany,Hans GEORGI,67.5,85.0,1

In [5]:
records56 = records[(records['Event Code']==3) & (records['Weight Class']==56) & (records['Year']>1972)]

In [6]:
len(records56)

20

In [7]:
records56

,Event,Year,Country,Lifter,Weight Class,Record,Event Code
1103,Total,1973,Russia,Gennady CHETIN,56,255.0,3
1104,Total,1973,Bulgaria,Atanas KIROV,56,257.5,3
1147,Total,1974,Bulgaria,Atanas KIROV,56,260.0,3
1234,Total,1976,Bulgaria,Norair NURIKIAN,56,262.5,3
1324,Total,1979,Bulgaria,Anton KODZHABASHEV,56,265.0,3
1325,Total,1979,Russia,Yurik SARKISYAN,56,267.5,3
1381,Total,1980,Russia,Victor VERETENNIKOV,56,270.0,3
1382,Total,1980,Russia,Yurik SARKISYAN,56,272.5,3
1383,Total,1980,Cuba,Daniel NUNEZ,56,275.0,3
1437,Total,1981,Germany,Andreas LETZ,56,277.5,3
1496,Total,1982,Bulgaria,Anton KODZHABASHEV,56,280.0,3
1560,Total,1983,Russia,Oksen MIRZOYAN,56,282.5,3
1561,Total,1983,Bulgaria,Naim SULEYMANOGLU,56,285.0,3
1562,Total,1983,Russia,Oksen MIRZOYAN,56,287.5,3
1563,Total,1983,Bulgaria,Naim SULEYMANOGLU,56,290.0,3
1564,Total,1983,Russia,Oksen MIRZOYAN,56,292.5,3
1618,Total,1984,Bulgaria,Naim SULEYMANOGLU,56,297.5,3
1619,Total,1984,Bulgaria,Naim SULEYMANOGLU,56,300.0,3
1893,Total,1999,Turkey,Halil MUTLU,56,302.5,3
1915,Total,2000,Turkey,Halil MUTLU,56,305.0,3

In [8]:
#openning the file after closing the notebook 
import pickle
class Company(object):
    def __init__(self, rec):
        self.rec = rec
        
with open('recent_data.pkl', 'rb') as input:
    rdatar = pickle.load(input)    

recent_data_load = rdatar.rec

In [9]:
recents = recent_data_load

In [10]:
#looking at people on the 56 with at least a 210 total
recent56 = recents[(recents['Weight']<=56) & (recents['Weight'] >52) &
                   (recents['Total']>210)][['Year', 'Country', 'Lifter', 'Birth', 'Weight', 'Total']]

In [11]:
#of those people choose their best total.
liftermax = pd.DataFrame(recent56.groupby('Lifter')['Total'].max(), columns= ['Total'])

In [12]:
density = liftermax.groupby('Total')['Total'].count()

In [34]:
val =[]
for element in density:
    val.append(float(element))

In [37]:
index = []
for ind in density.index:
    index.append(float(ind))