In [1]:
from bs4 import BeautifulSoup
import requests
import pickle
import pandas as pd
import matplotlib
import matplotlib.pylab as plt
import scipy as sp
%matplotlib inline
import math
import matplotlib.pyplot as plt
import numpy as np

class Company(object):
    def __init__(self, worldrec):
        self.worldrec = worldrec
#opening an object that was pickled with python 2.4        
with open('worldrecords_data.pkl', 'rb') as f:
    wrdatar = pickle.load(f, encoding='latin1') 
    
    

records = wrdatar.worldrec

In [2]:
records.head()

,Event,Year,Country,Lifter,Weight Class,Record,Event Code
0,Snatch,1917,Russia,Alexander BUKHAROV,60.0,75.0,1
1,Snatch,1918,Germany,Hermann SHWINDT,60.0,92.5,1
2,Clean and Jerk,1919,Germany,Johann RENNER,67.5,102.5,2
3,Clean and Jerk,1919,Germany,Josef ZIMMERMANN,67.5,107.5,2
4,Snatch,1919,Germany,Hans GEORGI,67.5,85.0,1

In [3]:
records56total = records[(records['Event Code']==3) & (records['Weight Class']==56)]

In [4]:
records56total

,Event,Year,Country,Lifter,Weight Class,Record,Event Code
212,Total,1948,Iran,Mahmoud NAMJOU,56,310.0,3
223,Total,1949,Iran,Mahmoud NAMJOU,56,315.0,3
239,Total,1951,Iran,Mahmoud NAMJOU,56,317.5,3
270,Total,1953,Russia,Ivan UDODOV,56,320.0,3
324,Total,1955,Russia,Vladimir STOGOV,56,325.0,3
325,Total,1955,Russia,Vladimir STOGOV,56,335.0,3
348,Total,1956,United States,Charles VINCI,56,342.5,3
380,Total,1957,Russia,Vladimir STOGOV,56,345.0,3
475,Total,1961,Japan,Yoshinobu MIYAKE,56,347.5,3
508,Total,1962,Japan,Yoshinobu MIYAKE,56,352.5,3
570,Total,1964,Hungary,Imre FOLDI,56,355.0,3
571,Total,1964,Russia,Alexey VAKHONIN,56,357.5,3
623,Total,1965,Japan,Shiro ICHINOSEKI,56,360.0,3
624,Total,1965,Hungary,Imre FOLDI,56,362.5,3
625,Total,1965,Hungary,Imre FOLDI,56,365.0,3
731,Total,1968,Russia,Gennady CHETIN,56,367.5,3
794,Total,1969,Hungary,Imre FOLDI,56,370.0,3
846,Total,1970,Hungary,Imre FOLDI,56,372.5,3
930,Total,1971,Russia,Gennady CHETIN,56,375.0,3
1022,Total,1972,Hungary,Imre FOLDI,56,377.5,3
1103,Total,1973,Russia,Gennady CHETIN,56,255.0,3
1104,Total,1973,Bulgaria,Atanas KIROV,56,257.5,3
1147,Total,1974,Bulgaria,Atanas KIROV,56,260.0,3
1234,Total,1976,Bulgaria,Norair NURIKIAN,56,262.5,3
1324,Total,1979,Bulgaria,Anton KODZHABASHEV,56,265.0,3
1325,Total,1979,Russia,Yurik SARKISYAN,56,267.5,3
1381,Total,1980,Russia,Victor VERETENNIKOV,56,270.0,3
1382,Total,1980,Russia,Yurik SARKISYAN,56,272.5,3
1383,Total,1980,Cuba,Daniel NUNEZ,56,275.0,3
1437,Total,1981,Germany,Andreas LETZ,56,277.5,3
1496,Total,1982,Bulgaria,Anton KODZHABASHEV,56,280.0,3
1560,Total,1983,Russia,Oksen MIRZOYAN,56,282.5,3
1561,Total,1983,Bulgaria,Naim SULEYMANOGLU,56,285.0,3
1562,Total,1983,Russia,Oksen MIRZOYAN,56,287.5,3
1563,Total,1983,Bulgaria,Naim SULEYMANOGLU,56,290.0,3
1564,Total,1983,Russia,Oksen MIRZOYAN,56,292.5,3
1618,Total,1984,Bulgaria,Naim SULEYMANOGLU,56,297.5,3
1619,Total,1984,Bulgaria,Naim SULEYMANOGLU,56,300.0,3
1893,Total,1999,Turkey,Halil MUTLU,56,302.5,3
1915,Total,2000,Turkey,Halil MUTLU,56,305.0,3

In [5]:
#save the difference in jumps from one record to the other
#I want to keep year, max record and count of times broken that year
#then by how much it changed from one year to the next

In [349]:
import pandas as pd

from bokeh.plotting import figure, show, output_file




palette = ["#053061", "#2126ac", "#4353c3", "#92c7de", "#d1e5f0",
           "#f7f1c7", "#fddbc7", "#f4a582", "#d6104d", "#b2182b", "#67e01f",
          "#023061", "#2162ac", "#4392c3", "#92c2de", "#a1e2f0",
           "#f3a7f7", "#fddbc3", "#f4a523", "#d6603a", "#b3182b", "#370d1f",
          "#053061", "#2166ac", "#4393c3", "#92c5de", "#d1e5f0",
           "#f4f7f4", "#fdd3c7", "#f4a512", "#d2344d", "#b2382a", "#61001f"]

colormap = {}
k = 0
for lifter in records56total['Lifter']:
    if lifter not in colormap:
        k = k+1
        colormap[lifter]=k

colors = [colormap[x] for x in records56total['Lifter']]


melting_colors = [palette[i] for i in colors]

TOOLS = "pan,wheel_zoom,box_zoom,reset,resize,save"

p = figure(tools=TOOLS, toolbar_location="left", logo="grey", plot_width=1200)

p.title = "56kg Weight Class World Records Through Time."

p.xaxis.axis_label="Year"
p.yaxis.axis_label="Total"
p.grid.grid_line_color="white"

p.circle(records56total['Year'], records56total['Record'], size=12,
         color=melting_colors, line_color="black", fill_alpha=0.8)

p.text(records56total['Year']+2, records56total['Record'],
       text=records56total['Lifter'],text_color="#333333",
       text_align="center", text_font_size="7pt")

output_file("elements.html", title="elements.py example")

show(p)

In [76]:
colormap = {}
k = 0
for lifter in records56total['Lifter']:
    if lifter not in colormap:
        k = k+1
        colormap[lifter]=k

In [77]:
colormap

{'Alexey VAKHONIN': 7,
 'Andreas LETZ': 16,
 'Anton KODZHABASHEV': 12,
 'Atanas KIROV': 10,
 'Charles VINCI': 4,
 'Daniel NUNEZ': 15,
 'Gennady CHETIN': 9,
 'Halil MUTLU': 19,
 'Imre FOLDI': 6,
 'Ivan UDODOV': 2,
 'Mahmoud NAMJOU': 1,
 'Naim SULEYMANOGLU': 18,
 'Norair NURIKIAN': 11,
 'Oksen MIRZOYAN': 17,
 'Shiro ICHINOSEKI': 8,
 'Victor VERETENNIKOV': 14,
 'Vladimir STOGOV': 3,
 'Yoshinobu MIYAKE': 5,
 'Yurik SARKISYAN': 13}

In [96]:
dense = records56total.groupby('Year')['Record'].count()

In [99]:
density_val = []
density_year = []
for i in range(1948,2016):
    density_year.append((i,))
    if i not in dense.index:
        density_val.append(0)
    else:
        density_val.append(dense[i])

In [105]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()

In [ ]:
gnb.fit(density_year, density_val)

In [163]:
records2 = records.groupby(['Event Code','Weight Class','Year'])['Record'].agg([len,max])

In [300]:
records.head()

,Event,Year,Country,Lifter,Weight Class,Record,Event Code
0,Snatch,1917,Russia,Alexander BUKHAROV,60.0,75.0,1
1,Snatch,1918,Germany,Hermann SHWINDT,60.0,92.5,1
2,Clean and Jerk,1919,Germany,Johann RENNER,67.5,102.5,2
3,Clean and Jerk,1919,Germany,Josef ZIMMERMANN,67.5,107.5,2
4,Snatch,1919,Germany,Hans GEORGI,67.5,85.0,1

In [237]:
records2
rec3 = records2.reset_index()
rec3.head()

   Event Code  Weight Class  Year  len    max
0           1            52  1969    1  100.0
1           1            52  1970    1  100.5
2           1            52  1971    1  102.5
3           1            52  1972    2  105.0
4           1            52  1973    1  105.5

In [250]:
rec4 = rec3.sort_values(['Weight Class', 'Event Code', 'Year'])

In [ ]:
rec4['max'] - rec4['max'].shift(1)

In [292]:
rec4.head()

   Event Code  Weight Class  Year  len    max
0           1            52  1969    1  100.0
1           1            52  1970    1  100.5
2           1            52  1971    1  102.5
3           1            52  1972    2  105.0
4           1            52  1973    1  105.5

In [294]:
records_56t = rec4[(rec4['Event Code']==3) & (rec4['Weight Class']==56)& (rec4['Year']>1972)]

In [295]:
records_56t['diff'] = records_56t['max']-records_56t['max'].shift(1)

//anaconda/lib/python3.4/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [299]:
records_56t.head()

      Event Code  Weight Class  Year  len    max  diff
625            3            56  1973    2  257.5   NaN
626            3            56  1974    1  260.0   2.5
1273           3            56  1975    0  260.0   0.0
627            3            56  1976    1  262.5   2.5
1274           3            56  1977    0  262.5   0.0

In [298]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()

In [306]:
X = records_56t[['Year','max']]
y = records_56t['len']
#gnb.fit(X, y)

In [307]:
gnb.fit(X, y)

GaussianNB()

In [354]:
gnb.predict_proba([2,305.5])

array([[  1.00000000e+00,   4.06001045e-23,   0.00000000e+00,
          0.00000000e+00,   0.00000000e+00]])

In [347]:
gnb.score(X,y)

0.79069767441860461

In [2]:
#openning the file after closing the notebook 
import pickle
class Company(object):
    def __init__(self, rec):
        self.rec = rec
        
with open('recent_comp.pkl', 'rb') as input:
    rdatar = pickle.load(input, encoding='latin1')    

recent_data = rdatar.rec

In [3]:
recent_data = recent_data.dropna()

In [4]:
#Since my data has been normalized by the NSC Im not concerned with body weight, so for a given
#lifter, I'll use his country of origin, age and the years he has competed and plot that
#against his coefficient.
X = np.array(recent_data[['LC', 'CC', 'Birth', 'Age', 'Year']])
y = np.array(recent_data['NSC'])

In [5]:
#Choosing my ML method
from sklearn.neighbors import KNeighborsRegressor

In [375]:
nei = KNeighborsRegressor(n_neighbors=100, weights='distance',
                          algorithm='ball_tree', leaf_size=1000, metric='manhattan')

In [376]:
from sklearn.cross_validation import train_test_split

In [377]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=100)

In [378]:
nei.fit(X_train, y_train)

KNeighborsRegressor(algorithm='ball_tree', leaf_size=1000, metric='manhattan',
          metric_params=None, n_neighbors=100, p=2, weights='distance')

In [379]:
nei.predict([6261,48,1998,18,2016])

array([-160.48709214])

In [380]:
nei.predict([5810,90,1999,17,2016])

array([-167.15619991])

In [381]:
nei.predict([3120,2,1993,23,2016])

array([-72.12802443])

In [382]:
nei.predict([4846,88,1999,16,2016])

array([-128.25262875])

In [383]:
nei.predict([5968,54,1995,21,2016])

array([-109.01232508])

In [384]:
import dill
with open('nei_model.dill', 'wb') as output:
    dill.dump(nei,output)

In [385]:
with open('nei_model.dill', 'rb') as input:
    nei_model_pred = dill.load(input)

In [386]:
nei_model_pred.predict([5968,54,1995,21,2016])

array([-109.01232508])