In [1]:
import pickle
import pandas as pd
import matplotlib
import matplotlib.pylab as plt
import scipy as sp
%matplotlib inline
import math
import numpy as np
import seaborn as sms


class Company(object):
    def __init__(self, rec):
        self.rec = rec


#loading cleaned up data from previous competitions and comparison coefficient.
with open('recent_comp.pkl', 'rb') as input:
    rdatac = pickle.load(input)    

recents = rdatac.rec

In [88]:
#Filtering to keep only those lifters who are somewhat good.
rdata= recents[(recents['NSC']>=-250) & (recents['Weight']>52) &
               (recents['Birth']>=1960) & (recents['Year']>1970)].sort('NSC', ascending=True)

In [89]:
rdata.head()

,Year,Country,Lifter,Birth,Weight,Snatch,Clean and Jerk,Total,NSC,CC,LC
12825,2014,KUW,ALMUTAIRI Hamad,1996,153.48,110,120,230,-249.735676,136,5805
11132,2013,NZL,JOLLY Ryan Alexander,1996,85.25,70,80,150,-249.571022,61,5260
4407,2008,NIU,TIAKIA P. Simon,1992,82.30,60,85,145,-248.623984,132,2224
5951,2009,QAT,AL ANSARI Issa Ibrahim A A,1986,123.30,95,110,205,-247.932184,68,3110
13921,2015,QAT,ALMURI Hamdan,1998,93.50,77,90,167,-247.293308,68,6215

In [ ]:
recents[recents['NSC']>0]

In [90]:
#Since my data has been normalized by the NSC Im not concerned with body weight, so for a given
#lifter, I'll use his country of origin, age and the years he has competed and plot that
#against his coefficient.
X = np.array(rdata[['LC', 'CC', 'Birth', 'Year']])
y = np.array(rdata['NSC'])

In [91]:
#Choosing my ML method
from sklearn.neighbors import KNeighborsRegressor

In [160]:
nei = KNeighborsRegressor(n_neighbors=100, weights='distance',
                          algorithm='ball_tree', leaf_size=1000, metric='manhattan')

In [161]:
from sklearn.cross_validation import train_test_split

In [162]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=100)

In [163]:
nei.fit(X_train, y_train)

KNeighborsRegressor(algorithm='ball_tree', leaf_size=1000, metric='manhattan',
          metric_params=None, n_neighbors=100, p=2, weights='distance')

In [ ]:
#Now that we have our model let's make some predictions for a few lifters to see how it holds.

In [178]:
rdata[rdata['LC']==5968]

,Year,Country,Lifter,Birth,Weight,Snatch,Clean and Jerk,Total,NSC,CC,LC
13279,2015,PUR,REYES Bruno,1995,68.35,110,137,247,-111.013605,54,5968

In [179]:
nei.predict([5968,54,1995,2016])

array([-110.94270725])

In [180]:
rdata[rdata['LC']==4846]

,Year,Country,Lifter,Birth,Weight,Snatch,Clean and Jerk,Total,NSC,CC,LC
11744,2014,PNG,LOHIA Igo,1999,59.69,75,100,175,-149.944312,88,4846
11548,2014,PNG,LOHIA Igo,1999,55.40,70,90,160,-142.157669,88,4846
13135,2015,PNG,LOHIA Igo,1999,61.05,87,112,199,-132.061167,88,4846

In [181]:
nei.predict([4846,88,1999,2016])

array([-129.23620087])

In [182]:
recents[recents['LC']==3120]

,Year,Country,Lifter,Birth,Weight,Snatch,Clean and Jerk,Total,NSC,CC,LC
5996,2010,ROU,CROITORU Florin Ionut,1993,55.15,110,132,242,-58.622239,2,3120
7387,2011,ROU,CROITORU Florin Ionut,1993,55.95,121,149,270,-35.441562,2,3120
8718,2012,ROU,CROITORU Florin Ionut,1993,55.90,121,147,268,-37.148185,2,3120
8879,2012,ROU,CROITORU Florin Ionut,1993,61.80,132,157,289,-45.256104,2,3120
10202,2013,ROU,CROITORU Florin Ionut,1993,61.69,135,155,290,-43.794920,2,3120
11401,2014,ROU,CROITORU Florin Ionut,1993,55.68,122,137,259,-44.845230,2,3120
11619,2014,ROU,CROITORU Florin Ionut,1993,61.91,126,145,271,-63.714812,2,3120
13020,2015,ROU,CROITORU Florin Ionut,1993,61.72,134,153,287,-46.920945,2,3120

In [183]:
nei.predict([3120,2,1993,2016])

array([-66.86390092])

In [171]:
recents[recents['LC']==5810]

,Year,Country,Lifter,Birth,Weight,Snatch,Clean and Jerk,Total,NSC,CC,LC
12830,2014,ASA,SITAGATA Malaki Atonio Jr.,1999,110.95,98,122,220,-218.968538,90,5810
14149,2015,ASA,SITAGATA Malaki Atonio Jr.,1999,117.46,107,140,247,-199.612280,90,5810

In [172]:
nei.predict([5810,90,1999,2016])

array([-172.88267552])

In [173]:
recents[recents['LC']==6261]

,Year,Country,Lifter,Birth,Weight,Snatch,Clean and Jerk,Total,NSC,CC,LC
14147,2015,VEN,CEDENO HENRIQUEZ Jose Jesus,1998,112.9,115,143,258,-183.33069,48,6261

In [174]:
nei.predict([6261, 48,1998,2016])

array([-163.96883519])

In [ ]:
from sklearn import tree

In [ ]:
clf = tree.DecisionTreeClassifier()